.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.board {
  width: 400px;
}

.idInput {
  font-size: calc(10px + 2vmin);
  width: calc((10px + 2vmin)*20);
  text-align: center;
}

button {
  font-size: calc(10px + 2vmin);
}